
<link rel="stylesheet" href="https://use.typekit.net/wmu0amc.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


body{
    color: #222;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    height: 100%;
}
    /*@font-face {
  	font-family: roboto;
  	src: url(roboto.ttf)
 }*/
 html{
 	height:100%;
 }
.background{
	background-color: #fff;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.page-wrapper{
	z-index: 1;
	background-color: #fff;
    margin-left: 7vw;
	margin-right: 7vw;
	padding-bottom: 20px;
	max-width: 1600px;
}
.header{
	z-index: 2;
	padding-top: 40px;
	padding-left: 7vw;
	padding-right: 7vw;
	padding-bottom: 20px;
	max-width: 1600px;
}
.top-header{
	border-bottom: 2px solid #3c3c3c;
    height: 45px;
}
.website-title{
	padding-bottom: 0px;
	margin: 0;
}
.bottom-header{
	height: 20px;
	margin-top: 10px;
	display: flex;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-right: 30px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  font-weight: 600;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  font-weight: 600;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*.main-nav{
	align-items: left;
}
.nav-menu{
	margin-top:0;
	align-items: left;
	padding-left: 0;
}*/
.sourgrass{
	width: 80%;
	position: absolute;
  	bottom: -5px;
}


ul{
	display: block;
}
li{
	float: left;
	margin-right: 30px;
	display: block;
	text-decoration: none;
}

h1{
	font-style: sans-serif;
}

a{
	color: black;
	text-decoration: none;
}
p{
	font-family: Helvetica Neue;
}

.icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav{
  	font-size: 12px;
  }
  .topnav a{
  	padding-right: 15px;
  }
}
